<div class="row login-penal">
  <div class="col-xs-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><span class="glyphicon glyphicon-user"></span> Sign Up</h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %><br>
          <%= f.email_field :email, autofocus: true, class: "form-control",
                                                            placeholder: "Email Address" %><br>
          <%= f.password_field :password, autocomplete: "off", class: "form-control",
                                                            placeholder: "Password" %><br>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",
                                                            placeholder: "Confirm Password" %><br>
          <%= f.collection_select :role, User::ROLES, :to_s, :humanize %><br><br>
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>
