<div class="row">
<div class="col-md-6">
  <h2><%= @user.username %></h2>

  <table class="table">
    <tr>
      <td><strong>Role:</strong></td>
      <td><%= @user.role.titleize %></td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td><%= @user.email %></td>
    </tr>

    <% @user.sessionenrolls.each do |enroll| %>
    <tr>
      <td><strong>Session:</strong></td>
      <td><%= enroll.coursesession.name %></td>
    </tr>
    <% end %>

    <% @user.takes.each do |take| %>
    <tr>
      <td><strong>Course:</strong></td>
      <td>
      <%= take.course.title %>
      <% take.course.coursesemesters.each do |semester| %>
        <td><strong><%= semester.name %></strong></td>
      <% end -%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
</div>