<div class="row">
  <div class="col-md-6">
  <% if @user.username.present? %>
    <h2><%= @user.username %></h2>
  <% else %>
    Go to profile page update your name.
  <% end -%>
    <table class="table">
      <tr>
        <td><strong>Role:</strong></td>
        <td><%= @user.role.titleize %></td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @user.email %></td>
      </tr>
  </table>
  </div>
  <%= render 'user_status' %>
  <div class="col-md-8">
<!--     <strong>Session:</strong>
    <% @user.sessionenrolls.each do |enroll| %>
    <span class="vdivider">
    <%= enroll.coursesession.name %>
    </span>
    <% end %>
 --> 
  <div class="panel panel-default">
      <% @user.takes.each do |take| %>
    <div class="panel-heading"><strong>Course:</strong><%= take.course.title %></div>
      <% take.course.coursesemesters.each do |semester| %>
    <div class="panel-body">
      <i><%= semester.name %></i>
    </div>
    <% semester.subjects.each do |subject| %>
    <ul class="list-group">
      <li class="list-group-item">
        <%= link_to subject.name, course_coursesemester_subject_path(semester, semester, subject) %>
        <span class="badge"><%= subject.makeassigns.count %></span>
      </li>
    </ul>
      <% end %>
      <% end %>
      <% end %>
  </div>
  </div>
</div>
