<div class="panel panel-default">
  <div class="panel-heading">
    <%= @makeassign.assign_no %>
     | <%= link_to 'Edit', edit_course_coursesemester_subject_makeassign_path(id: @makeassign) %>
  </div>
  <div class="panel-body">
    <p><%= sanitize @makeassign.body %></p>
  </div>

  <ul class="list-group">
    <li class="list-group-item"><strong>Start date</strong> | 
    <%= @makeassign.start_date.strftime("%d %B %Y") %></li>
    <li class="list-group-item"><strong>End date</strong> | 
    <%= @makeassign.end_date.strftime("%d %B %Y") %></li>
  </ul>
</div>

<%= link_to 'Back', course_coursesemester_subject_path(@course, @coursesemester, @subject), class: "btn btn-default" %>