<%= form_for([@course, @coursesemester, @coursesemester.subjects.build]) do |f| %>
  <div class="alert alert-info">
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
      </ul>
    </div>
  <% end -%>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter Subject Name" %>
<br>
    <%= f.submit "Add Subject", class: "btn btn-primary" %>

<% end %>
